.header {
    background-color: #004db2; /* Updated header color */
    padding: 10px 0;
    padding-bottom: 20px;
    margin-bottom: 25px;
  }
  
  .header-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .enlarge{
    padding:0.65rem;
  }
  
  .logo img {
    height: 18px;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .icon-links {
    display: flex;
    gap: 20px;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1); /* Ensure the icons appear white */
  }
  
  
  
  
  h1 {
    color: #004db2;
    text-align: center;
    margin: 20px;
  }
  
  .filter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  
  select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #004db2;
    color: white;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-btn {
    background-color: #004db2;
    color: white;
    margin-right: 10px;
  }
  
  .delete-btn {
    background-color: #004db2;
    color: white;
  }
  
  .search-btn {
    background-color: #004db2; /* Search button color */
    color: white;

  }
  
  .edit-section {
    margin-top: 30px;
  }
  
  .edit-section h2 {
    margin-bottom: 10px;
  }
  
  .edit-section input,
  .edit-section select {
    padding: 12px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .edit-section button {
    background-color: #28a745;
    color: white;
  }
  